:root {
  /* TYPOGRAPHY */
  --heading-font: "PT Serif", serif;
  --body-font: "Poppins", sans-serif;
  --credit-font: "Montserrat", sans-serif;

  --reg-wt: 400;
  --bold: 600;
  --semi-bold: 700;

  --body-font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  font-weight: var(--reg-wt);
}

.wrapper {
  display: grid;
  padding: 0 20px;
  max-width: 925px;
  margin: 0 auto;
}

.header {
  font-family: var(--heading-font);
  font-size: 2.571rem;
  font-weight: var(--semi-bold);
  line-height: 48px;
  letter-spacing: -0.045em;
  margin-top: var(--to-zero, 19px);
  margin-bottom: 38px;
}

.about-us {
  margin-bottom: var(--to-zero, 58px);
}

.about__header {
  font-size: 1.286rem;
  font-weight: var(--bold);
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title {
  font-family: var(--heading-font);
  font-size: 0.7143rem;
  line-height: 13px;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.team {
  display: grid;
  column-gap: 27px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

.team > * {
  align-self: start;
}

.team__member {
  display: grid;
  column-gap: 6px;
  row-gap: 10px;
  grid-template-columns: auto 1fr 1fr;
}

.team__member:nth-child(2n) {
  margin-top: var(--to-zero, 58px);
}

.team__member .photo {
  width: 100%;
  min-width: 140px;
}

.team__member .title {
  font-size: 0.7143rem;
  text-transform: uppercase;
}

.team__member .name {
  font-weight: var(--bold);
  line-height: 21px;
  grid-column: 1 / -1;
}

.footer {
  width: 100%;
}

.footer__credits {
  text-align: center;
  margin-top: 88px;
  margin-bottom: 27px; 
}

/*? MEDIA QUERIES */
@media (min-width: 545px) {
  .team {
    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
  }

  .about__msg,
  .team__member .name {
    font-size: 1.286rem;
  }

  .team__member .title {
    font-size: 0.8571rem;
  }
}

@media (min-width: 808px) {
  .team__member:nth-child(2n) {
    --to-zero: 0px;
  }

  .team__member:nth-child(2),
  .team__member:nth-child(5) {
    margin-top: 58px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    margin-top: 109px;
  }

  .about-us,
  .header {
    --to-zero: 0px;
  }

  .team {
    column-gap: 79px;
    grid-column: span 2;
    align-self: center;
  }

  .footer {
    grid-column: 1 / -1;
  }
}
